%div.chat-display
  %div.chat-display__header
    = link_to '/' do
      %div.chat-display__header--edit Edit
    %h1.chat-display__header--group-name sampleグループ
    %p.chat-display__header--group-members Members: Yusuke Hibino


  %div.chat-display__main
    %p.chat-display__main--sender yyyyyyy
    %span 2017/6/29 05:09:15
    %p.chat-display__main--chat aaaaaaaaaaa

    %p.chat-display__main--sender tttttt
    %span 2017/6/29 05:19:24
    %p.chat-display__main--chat bbbbbbbbbbb

  %div.chat-display__form
    %div.chat-display__form--text-box
      %input.text{placeholder:"type a message", type:"text"}
    %div.chat-display__form--picture-button
      %label
        %i.fa.fa-picture-o.picture
        %input.image-upload{type:"file", accept:"image/*"}
    %div.chat-display__form--send-button
      %input{type:"submit",value:"Send"}