
%div.contents
  %div.sidebar
    %div.sidebar__user
      %p.sidebar__user--name Yusuke Hibino
    %div.sidebar__group
      %p.sidebar__group--group-name aaaaaaaaa
      %p.sidebar__group--group-new-message まだメッセージはありません。

      %p.sidebar__group--group-name aaaaaaaaa
      %p.sidebar__group--group-new-message まだメッセージはありません。

  / %div.chat-display
  /   %div.chat-display__header
  /     %p.chat-display__header--group-name sampleグループ
  /     %p.chat-display__header--group-members Members: Yusuke Hibino

  /   %div.chat-display__main
  /     %p.chat-display__main--sender yyyyyyy
  /     %p.chat-display__main--chat aaaaaaaaaaa

  /     %p.chat-display__main--sender tttttt
  /     %p.chat-display__main--chat bbbbbbbbbbb
